{% extends "main/baseLogged.html" %}

{% block content %}


    <div class="container d-flex flex-column justify-content-end align-items-center pt-5 pb-5">
        
        {% for category in categories %}
            <div class="row d-flex justify-content-between mt-3">
                {% for cat in category %}
                
                
                    <div class="card col-3 me-4" style="width: 18rem;">

                        <div class="card-body">
                        <h5 class="card-title">{{cat.name}}</h5>
                        <p class="card-text">{{cat.description}}</p>

                        <a href="{% url 'tasks' cat.name %}" class="btn btn-primary btn-sm">Show Tasks</a>
                        <a href="{% url 'updatecat' cat.id %}" class="btn btn-success btn-sm">Update</a>
                        <a href="{% url 'deletecat' cat.id %}" class="btn btn-danger btn-sm">Delete</a>
                        
                       
                        </div>
                    </div>

                {% endfor %}
            </div>

        {% endfor %}
    </div>


{% endblock content %}